<!DOCTYPE html>
<meta Charset="UTF-8">
<html>
	<head>
		<title>Cursos de Tecnologia Adverum - Cadastro Aluno</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

		<link rel="stylesheet" href="css/formAluno.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

		<!-- Popper JS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		
		<script type="text/javascript" src="/js/jquery.mask.min.js"></script>
		<script type="text/javascript" src="/js/formAluno.js"></script>
		
	</head>
	<body>
		<nav class="navbar navbar-expand-sm bg-light navbar-light">
			<a href="/" class="navbar-brand"><img src="img/logo.png" /></a>
			<ul class="navbar-nav">
    			<li class="nav-item">
      				<a class="nav-link" href="/">Home</a>
    			</li>
    			<li class="nav-item active">
      				<a class="nav-link" href="#">Cadastro Aluno</a>
    			</li>
    			<li class="nav-item">
      				<a class="nav-link" href="/login">Entrar Aluno</a>
    			</li>
    			<li class="nav-item">
      				<a class="nav-link" href="/loginAdministrador">Sessão Administrador</a>
    			</li>
  			</ul>
		</nav>
		<div id="successAlert" class="alert alert-success alert-dismissible" rule="alert" th:if="${not #strings.isEmpty(successMessage)}">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
  			<span th:text="${successMessage}"></span>
		</div>
		<div id="failAlert" class="alert alert-danger alert-dismissible" rule="alert" th:if="${not #strings.isEmpty(errorMessage)}">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
  			<span th:text="${errorMessage}"></span>
		</div>
		<form id="formAluno" method="post" class="container text-center my-3 p-3 bg-light rounded shadow-sm needs-validation" novalidate>
			<div class="form-group">
				<img id="imgLogo" alt="" src="img/logo.png">
				<h4 class="border-bottom border-gray pb-2 mb-0">Cadastro de Aluno</h4>
			</div>
			<div class="form-group">
				<input class="form-control" type="text" value="" name="nome" placeholder="Nome">
			</div>
			<div class="form-group">
				<input class="form-control" type="email" value="" name="email" placeholder="E-mail">
			</div>
			<div class="form-group">
				<input class="form-control" type="text" value="" id="cpf" name="cpf" placeholder="CPF" maxlength="14">
			</div>
			<div class="form-group">
				<input class="form-control" type="text" value="" id="telefone" name="telefone" placeholder="Telefone" maxlength="11">
			</div>

			<button type="submit" class="btn btn-info">Salvar</button>
		</form>
		<footer class="footer mt-auto py-3 bg-light">
      		<div id="footer" class="container">
        		<span class="text-muted">Site de desafio para processo seletivo.</span><br>
        		<span class="text-muted">Created by Cláudio Fernando Leitão.</span><br>
        		<span class="text-muted"><a href="mailto:claudio.leitao@yahoo.com.br">Contato: claudio.leitao@yahoo.com.br</a></span>
      		</div>
    	</footer>
	</body>
</html>